/* 
.makeStyles-button_species_click-3::before{
    content: "";
    top: -6px;
   
    left: 55px;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-top: 1px solid #c6c9d1;
    border-left: 1px solid #c6c9d1;
    position: absolute;
    background: #fff;
}
.makeStyles-button_price_click-8::before{
    content: "";
    top: -6px;
   
    left: 55px;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-top: 1px solid #c6c9d1;
    border-left: 1px solid #c6c9d1;
    position: absolute;
    background: #fff;
}
.makeStyles-button_exptrip_click-11::before{
    content: "";
    top: -6px;
   
    left: 70px;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-top: 1px solid #c6c9d1;
    border-left: 1px solid #c6c9d1;
    position: absolute;
    background: #fff;
}
.makeStyles-button_bedroom_click-14::before{
    content: "";
    top: -6px;
   
    left: 55px;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-top: 1px solid #c6c9d1;
    border-left: 1px solid #c6c9d1;
    position: absolute;
    background: #fff;
}
.makeStyles-button_other_click-17::before{
    content: "";
    top: -6px;
   
    left: 58%;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-top: 1px solid #c6c9d1;
    border-left: 1px solid #c6c9d1;
    position: absolute;
    background: #fff;
}  */